// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LGUI k1  &ht LALT k2  &ht LCTRL k3  &ht LSHFT k4
#define HRMR(k1,k2,k3,k4) &ht RSHFT k1 &ht RCTRL k2  &ht RALT k3  &ht RGUI k4

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10

{
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_qw_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_op_canc {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp DEL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────╮
// │    Q     │    W     │    E     │    R     │    T     │ │    Y     │    U     │    I     │    O     │    P     │
      &kp Q      &kp W      &kp E      &kp R      &kp T        &kp Y      &kp U      &kp I      &kp O      &kp P
// ├──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │    A     │  GUI/S   │  ALT/D   │  CTL/F   │  SFT/G   │ │  SFT/H   │  CTL/J   │  ALT/K   │  GUI/L   │    ;     │
      &kp A      HRML(S,        D,         F,         G)       HRMR(H,        J,         K,         L)      &kp SEMI
// ├──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │ LT2/Z    │    X     │    C     │    V     │    B     │ │    N     │    M     │    ,     │    .     │ LT2/ /   │
      &lt 2 Z    &kp X      &kp C      &kp V      &kp B        &kp N      &kp M      &kp COMMA  &kp DOT    &lt 2 FSLH
// ╰──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┴──────────┴──────────╯
//                                  │ LT3/TAB  │ LT1/SPC  │ │ LT1/BSPC │ LT3/ENT  │
                                     &lt 3 TAB   &lt 1 SPACE   &lt 1 BSPC   &lt 3 ENTER
//                                  ╰──────────┴──────────╯ ╰──────────┴──────────╯
            >;
        };

        numnav {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────╮
// │   NONE   │    7     │    8     │    9     │    * │ │   HOME   │  PG_DN   │  PG_UP   │   END    │   NONE   │
      &none      &kp N7     &kp N8     &kp N9     &kp STAR     &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │    -     │    4     │    5     │    6     │    +     │ │   LEFT   │   DOWN   │    UP    │  RIGHT   │   MENU   │
      &kp MINUS  &kp N4     &kp N5     &kp N6     &kp PLUS     &kp LARW   &kp DARW   &kp UARW   &kp RARW   &kp K_CMENU
// ├──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │    0     │    1     │    2     │    3     │    =     │ │  BRI_DN  │  BRI_UP  │   MUTE   │  VOL_DN  │  VOL_UP  │
      &kp N0     &kp N1     &kp N2     &kp N3     &kp EQUAL    &kp C_BRI_DN &kp C_BRI_UP &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE
// ╰──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                       &trans     &trans       &trans     &trans
            >;
        };

        sym {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────╮
// │    !     │    @     │    #     │    [     │    ]     │ │    &     │    \     │    |     │    `     │    ~     │
      &kp EXCL   &kp AT     &kp HASH   &kp LBKT   &kp RBKT     &kp AMPS   &kp BSLH   &kp PIPE   &kp GRAVE  &kp TILDE
// ├──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │    '     │    "     │    -     │    (     │    )     │ │    ^     │    $     │    %     │   NONE   │   NONE   │
      &kp SQT    &kp DQT    &kp MINUS  &kp LPAR   &kp RPAR     &kp CARET  &kp DOLLAR &kp PRCNT  &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │   NONE   │   NONE   │    _     │    {     │    }     │ │   NONE   │   NONE   │   NONE   │   NONE   │   NONE   │
      &none      &none      &kp UNDER  &kp LBRC   &kp RBRC     &none      &none      &none      &none      &none
// ╰──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                       &trans     &trans       &trans     &trans
            >;
        };

        mouse {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────╮
// │  BT_0    │    F9    │   F10    │   F11    │   F12    │ │ SCRL_L   │ SCRL_D   │ SCRL_U   │ SCRL_R   │  PSCRN   │
      &bt BT_SEL 0 &kp F9   &kp F10    &kp F11    &kp F12      &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &kp PSCRN
// ├──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │  BT_1    │    F5    │    F6    │    F7    │    F8    │ │  MOVE_L  │  MOVE_D  │  MOVE_U  │  MOVE_R  │   NONE   │
      &bt BT_SEL 1 &kp F5   &kp F6     &kp F7     &kp F8       &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &mkp MB3
// ├──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┤
// │  BT_CLR  │    F1    │    F2    │    F3    │    F4    │ │  L_CLICK │ R_CLICK  │ M_CLICK  │   NONE   │  RESET   │
      &bt BT_CLR &kp F1     &kp F2     &kp F3     &kp F4       &none      &none       &none      &none      &sys_reset
// ╰──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                       &trans     &trans       &mkp MB1   &mkp MB2
            >;
        };
    };
};
